/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
} */

html{
  width: 100%;
  height: 100%;
  min-width: 1400px;
  min-height: 700px;
}

body{
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%;
  min-height: 700px;
  min-width: 1225px;
  display: flex;
  /* transition: opacity 1s ease-out; */
}

.main-page{
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%;
  min-height: 700px;
  min-width: 1225px;
  display: flex;
  opacity: 0;
  transition: opacity 2s linear;
}

.load-page{
  background-color: black;
  background-image: url(../images/Blob.svg);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  transition: opacity 1s linear, z-index 0s;
}

.hide{
  opacity: 0;
  z-index: -1000;
}

.birona{
  opacity: 1;
}


/*Themes*/
#theme-select{
  position: relative;
  width: 130px;
  left:100%;
  top: 80%;
}

.theme-blob{
  background: linear-gradient(217deg, #23044e, rgba(20, 4, 65, 0.459), 20%, black, #13052e ),
              linear-gradient(270deg, #23044e, rgba(20, 4, 65, 0.459), 35%, black, #13052e),
              linear-gradient(300deg, #23044e, rgba(20, 4, 65, 0.459), 60%, black, #13052e );
  background-size: auto;
  background-repeat: no-repeat;
}

.theme-inferno{
  background: linear-gradient(217deg, #712732, #50110c, 20%, #0c0202, #9b4135 ),
              linear-gradient(270deg, #712732, #50110c, 35%, #0c0202, #9b4135),
              linear-gradient(300deg, #712732, #50110c, 60%, #0c0202, #9b4135 );
  background-size: auto;
  background-repeat: no-repeat;
}

.theme-heaven{
  opacity: 1;
  background: linear-gradient(217deg, #23a87d, #49d9c0, 20%,#5f76da, #b8a0fc ),
              linear-gradient(270deg, #23a87d, #49d9c0, 35%, #23a87d, #b8a0fc),
              linear-gradient(300deg, #5f76da, #49d9c0, 60%, #5f76da, #b8a0fc );
  background-size: auto;
  background-repeat: no-repeat;
}

.blob-color1{
  stop-color: #300f9b;
}

.blob-color2{
  stop-color: #ff1d70;
}

.inferno-color1{
  stop-color: rgb(231, 235, 5);
}

.inferno-color2{
  stop-color: rgb(112, 9, 9);
}

.heaven-color1{
  stop-color: #71f0bb;
}

.heaven-color2{
  stop-color: #eca253;
}


/* url immagini */

.rect{
  background-image: url('/images/square.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.tri{
  background-image: url('/images/tri.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.pent{
  background-image: url('/images/pent.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

/* .clickrect{
  position: relative;
  transform: translate(1.5px, 2px);
}

.clicktri{
  position: relative;
  transform: translate(100px, 5px);
}

.clickpent{
  position: relative;
  transform: translate(100px, 13px);
} */



/* colonnna comandi di avvio  */
#column1{
  display:block;
  position: relative;
  width: 20%;
  min-width: 200px;
  padding-top: 10px;
  padding-left: 10px;
}

#c1center{
  position: relative;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* colonna dei pad */

#column2{
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  min-width: 1129px;
}

/* pad ritmici */


#init1{
  margin: 10px;
}

#init2{
  margin: 10px;
}

#init3{
  margin: 10px;
}

#rhythm{
  position: relative;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  z-index: 0;
}


.padAndControls{
  position: relative;
  margin: 5px;
  border: solid 3px ;
  border-radius: 10px;
  width: 248px;
  height: 256px;
}


.disabledNeurons{
  display: none;
}


/* selezione numero neuroni */

.init-text-color{
  color: #ff1d70;
}
.numNeuInput{
  background-color: transparent;
  /* border-color: transparent; */
  /* color:#ff1d70; */
  padding-left: 5px;
  text-align: left;
}


.numNeuInput:invalid+span:after {
  content: '4-32';
  padding-left: 5px;
  /* color: #ff1d70; */
}

.numNeuInput:valid+span:after {
  content: '✓';
  padding-left: 5px;
  /* color: #ff1d70; */
}

.numNeuInputHarm{
  background-color: transparent;
  border-color: transparent;
  /* color:#ff1d70; */
  padding-left: 5px;
  text-align: left;
}

.numNeuInputHarm:invalid+span:after {
  content: '4-12';
  padding-left: 5px;
  /* color: #ff1d70; */
}

.numNeuInputHarm:valid+span:after {
  content: '✓';
  padding-left: 5px;
  /* color: #ff1d70; */
}

.blob-num{
  border-color: #ff1d70;
  color:#ff1d70;
}
.inferno-num{
  border-color: #ffa024;
  color:#ffa024;
}
.heaven-num{
  border-color: #b0faff;
  color:#b0faff; 
}

.blob-span{
  color: #ff1d70;
}

.inferno-span{
  color: #ffa024;
}

.heaven-span{
  color: #b0faff;
}

.blob-label{
  color: #ff1d70;
}

.inferno-label{
  color: #ffa024;
}

.heaven-label{
  color: #b0faff;
}



 /* selezione forme/metrica */

/* .form-select{
  background-color: #1f012d;
  color: #ff1d70;
  border-color: #ff1d70;
}
.form-select:focus{
  border-color: #ff1d70;
  box-shadow:none
}

.form-select:disabled{
  background-color: #000000;
} */

.blob-select{
  background-color: #1f012d;
  color: #ff1d70;
  border-color: #ff1d70;
}

.blob-select:focus{
  border-color: #ff1d70;
  box-shadow:none
}

.blob-select:disabled{
  background-color: #000000;
}

.inferno-select{
  background-color: #350000;
  color: #ffa024;
  border-color: #c57600;
}

.inferno-select:focus{
  border-color: #c57600;
  box-shadow:none
}

.inferno-select:disabled{
  background-color: #000000;
}

.heaven-select{
  background-color: #5e79d9cb;
  color: #b0faff;
  border-color: #00ff9d;
}

.heaven-select:focus{
  border-color: #00ff9d;
  box-shadow:none
}

.heaven-select:disabled{
  background-color: #8a64f1;
}

/* play learning disabled */

/* .btn-outline-danger:disabled{
  color:#ff1d70;
  
} */

/*effetti */
.effects{
  background-color: #f99f3f;
  color: #000000;
  border-color: #000000;
}

.effect-off{
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background-color: red;
}

.effect-on{
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background-color: rgb(0, 255, 0);
}



/* post inizializzazione pad ritmici */

.rhythm-pad{
  position: relative;
  color:#ff1d70;
  width: 200px;
  height: 200px;
  z-index: 1;
  margin: 5px;
}

/* .slider {
  -webkit-appearance: none;
  height: 195px;
  width: 10px;
  background: #f99f3f;
  border: 6px solid;
  border-color: transparent;
  border-radius: 8px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
} */

.slider {
  transform: rotate(-90);
  -webkit-appearance: none;
  -webkit-transform: rotate(-90deg);
  height: 10px;
  width: 195px;
  background: #f99f3f;
  border: 6px solid;
  border-color: transparent;
  border-radius: 8px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
  left: 117px;
  top: 91px;
}

/* for chrome/safari */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #f99f3f;
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 50%;
}

/* for firefox */
.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #f99f3f;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 50%;
}

.sliderhor {
  -webkit-appearance: none;
  height: 10px;
  width: 195px;
  background: #f99f3f;
  border: 6px solid;
  border-color: transparent;
  border-radius: 8px;
}

/* for chrome/safari */
.sliderhor::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #f99f3f;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 50%;
}

.sliderhor::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #f99f3f;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 50%;
}

.Effectsliderhor {
  -webkit-appearance: none;
  height: 10px;
  width: 195px;
  background: #f99f3f;
  border: 6px solid;
  border-color: transparent;
  border-radius: 8px;
  
}

.Effectsliderhor::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #f99f3f;
  cursor: pointer;
  border: 2px solid rgb(140, 215, 238);
  border-radius: 50%;
}

/* for chrome/safari */
.sliderhor::-webkit-slider-thumb {
  width: 18px;
  height: 18px;
  background: #f99f3f;
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 50%;
}

/* bottoni mute e solo  */

.audio-controls{
  position: relative;
  margin: 0px 0px 2px 7px;
}

.vol-button{
  text-align: center;
  width: 30px;
  height: 2em;
  padding: 0;
  cursor: pointer;
}


#vol-bar{
  display:flex;
  margin: 2px 2px 0px 2px;
  
} 


/* pad melodico */

#melody{
  position: relative;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  display: inline-flex;
}

.padAndControlsMel{
  border: solid 3px;
  border-radius: 10px;
  height: 256px;
  width: 506px;
  position: relative;
}

.padAndControlsHarm{
  position: relative;
  margin-left: 10px;
  border: solid 3px;
  border-radius: 10px;
  width: 248px;
  height: 256px;
}


#init-mel{
  margin: 10px 0px 0px 10px;
  width: 223.2px;
}

#initSound{
  margin: 10px 0px 10px 30px;
  width: 223.2px;
}

#melodic-pad{
  margin: 5px;
  width: 200px;
  height: 200px;
  background-image: url('/images/grid.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

#vol-bar-mel{
  display: flex;
  margin: 2px 2px 0px 2px;
}

#audio-controls-mel{
   position: relative;
  margin: 0px 0px 2px 7px;
}

#initMelodicPad{
  position: relative;
  margin: 10px 0px 0px 0px;
}
#Harmonicinit{
  margin: 10px;
}

#harmonic-pad1{
  margin: 5px;
  width: 200px;
  height: 200px;
  background-image: url('/images/circ.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

/* effetto neon  */

.neon{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:#ff1d70;
  background-color: transparent;
  border-color: #ff1d70;
  transition: 0.6s;
}

.neon:hover{
  background: #ff1d70;
  border-color: #ff1d70;
  color: black;
  box-shadow: 0px 0px 10px  #fd3d84f6, 0px 0px 7px  #fd5190, 0px 0px 20px  #ff71a5 ;             
}

.neon:disabled{
  color: #ff1d70;
}

.neon-inferno{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:#e50230;
  background-color: transparent;
  border-color: #e50230;
  transition: 0.6s;
}

.neon-inferno:hover{
  background: #e50230;
  border-color: #e50230;
  color: black;
  box-shadow: 0px 0px 10px  #ff3a3a, 0px 0px 7px  #ff4242, 0px 0px 20px  #ff6464 ;             
}

.neon-inferno:disabled{
  color: #ff0000;
}

.neon-heaven{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:#71f09b;
  background-color: transparent;
  border-color: #71f09b;
  transition: 0.6s;
}

.neon-heaven:hover{
  background: #71f09b;
  border-color: #71f09b;
  color: rgb(13, 54, 100);
  box-shadow: 0px 0px 10px  #71f09b, 0px 0px 7px  #71f09b, 0px 0px 20px  #71f09b ;             
}

.neon-heaven:disabled{
  color: #00ff88;
}

.blob{
  position:relative;
  height: 100px;
  width: 100px;
  background: transparent;
  transform: translate(50%,50%);
}

/* .btn-primary:focus{
  color: rgb(255, 29, 112);
  background-color: transparent;
  border-color: rgb(255, 29, 112);
  box-shadow: 0px 0px 10px  #fd3d84f6, 0px 0px 7px  #fd5190, 0px 0px 20px  #ff71a5 ;
} */


.btn:focus{
  box-shadow: none ;
}

.din-pandx{
  background: linear-gradient(0.25turn, transparent, #ff1d70 100%) no-repeat;
  color:#f99f3f
}

.din-pansx{
  background: linear-gradient(0.75turn, transparent,#ff1d70  100%) no-repeat;
  color: #f99f3f;
  /* #8f0034 */
}

.blob-border{
  border: solid 3px #ff1d7067;
}

.inferno-border{
  border: solid 3px #f99f3f;
}

.heaven-border{
  border: solid 3px #51effa;
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}

input[type=number]:focus-visible { 
  outline: 0;
  box-shadow: none;
}